<!doctype html>
<html lang="en" class="h-100">
  <head>
    <%- 
    include('./component/meta', {
      appTitle: appTitle, 
      appDescription: appDescription, 
      ogTitle: ogTitle, 
      ogDescription: ogDescription, 
      ogUrl: ogUrl, 
      ogImage: ogImage
    }); 
    -%>
  </head>
  <body class="matrix">
    <%- include('./component/header2'); -%>
    <div class="mainPunk">
      <div style="display: flex;">
        <div class="leftSide">
          <% if (content_image_is_video) { %>
          <video class="punk-avatar" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" /></video>
          <% } else { %>
          <img class="punk-avatar" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" />
          <% } %>
        </div>
        <div class="rightSide">
          <div class="matrix-punk-rank">
            <img src="../images/cup.png">
            <p>Rank #<%= punk.rarity_rank %></p>
          </div>
          <h3 class="matrix-punk-name"><%= punk.name %></h3>
          <div class="rarity-score">
            <p>Rarity Score</p>
            <span><%= punkScore.rarity_sum.toFixed(2) %></span>
          </div>
          <% allTraitTypes.forEach(function(traitType) { %>
                <div class="mt-4">
                  <div class="row-trait">
                    <div>
                      <h3 class="trait-type"><%= traitType.trait_type %></h3>
                    </div>
                    <div class="trait-type-rarity">
                      +<%= punkScore['trait_type_'+traitType.id+'_rarity'].toFixed(2) %>
                    </div>
                  </div>
                  <div class="trait-value-block">
                    <div class="trait-value">
                      <% if (punkTraitData.hasOwnProperty(traitType.id)) { %>
                        <%
                        if (traitType.trait_data_type == 'date') {
                          let date = new Date((punkTraitData[traitType.id]-29)*1000);
                          %>
                          <%= date.toLocaleString("en-US") %>
                          <%
                        } else {
                          %>
                          <%= punkTraitData[traitType.id] %>
                          <%
                        }
                        %>
                      <% } else { %>
                        None (Missing Trait)
                      <% } %>
                    </div>
                    <div class="trait-value-count">
                      <% if (punkTraitData.hasOwnProperty(traitType.id)) { %>
                        <%= allDetailTraitTypesData[traitType.id+'|||'+punkTraitData[traitType.id]] %>
                      <% } else { %>
                        "<%= (totalPunkCount-traitType.bayc_count) %>"
                      <% } %>
                    </div>
                  </div>
                </div>
              <% }); %>
         <!--  <div>
            <div>
              <label></label>
              <label></label>
            </div>
            <div>
              <p></p>
              <p></p>
            </div>
          </div> -->
        </div>
      </div>
      <div class="backSide">
        <p class="punk-name-footer"><%= punk.name %></p>
        <div>
          <button>Similar</button>
          <button>Trade</button>
        </div>
      </div>
    </div>
  </body>
</html>