<!doctype html>
<html lang="en" class="h-100">
  <head>
    <%- 
    include('./component/meta', {
      appTitle: appTitle, 
      appDescription: appDescription, 
      ogTitle: ogTitle, 
      ogDescription: ogDescription, 
      ogUrl: ogUrl, 
      ogImage: ogImage
    }); 
    -%>
  </head>
  <body class="matrix" >
      <%- include('./component/header3'); -%>
      <main class="flex-center">
        <div >
          <div >
          <% if (!_.isEmpty(punk)) { %>
            <h1 style="text-align: center;">Similar to</h1>
            <div style="display: flex; justify-content: center;">
              <div class="punk-component" style="margin-top: 10px; margin-bottom: 30px;">
                <%- include('./component/punk', {punk: punk}); -%>
              </div>
            </div>
            <hr>
            <div style="display: flex;width: 91%;margin: auto;gap: 4%;flex-wrap: wrap; margin-bottom: 50px;">
            <% similarPunks.forEach(function(similarPunk) { %>
              <div class="punk-component" style="margin-top: 40px;">
                <%- include('./component/punk', {punk: similarPunk}); -%>
              </div>
            <% }); %>
          <% } else { %>
            <h1>
              There's no result.
            </h1>
          <% } %>
        </div>
          </div>
        </div>
      </main>
      <%- include('./component/footer'); -%>
  </body>
</html>