<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= appDescription %> | <%= collection_name %> | NFT Rarity Tool">
<meta name="author" content="Fukuball">
<title><%= appTitle %> | <%= collection_name %> | NFT Rarity Tool</title>

<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&amp;display=swap" rel="stylesheet" media="all" onload="this.media='all'">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Font Awesome 4-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel='stylesheet' href='/stylesheets/style.css?1' />

<!-- Favicons -->
<link href="/images/profile.png" rel="shortcut icon" type="image/png">
<link href="/images/profile@32w.png" rel="icon" type="image/png">
<link href="/images/profile.png" rel="apple-touch-icon">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@fukuball" />
<meta property="og:url" content="<%= ogUrl %>" />
<meta property="og:title" content="<%= ogTitle %>" />
<meta property="og:description" content="<%= ogDescription %>" />
<meta property="og:image" content="<%= ogImage %>" />